/**
 * @file _marquee.scss - Marquee Component
 *
 * This file defines styles for the marquee component, a scrolling text
 * banner often used for announcements or highlights. The marquee has a cyberpunk
 * glow effect, supports customization for speed, and ensures smooth scrolling.
 *
 * It uses CSS custom properties for flexibility and includes keyframes for
 * seamless animation.
 *
 * node.js-v20.17.0
 *
 * @author Cristian Moreno (Kyonax)
 * @contact iamkyo@kyo.wtf
 * @date 2025-02-02
 *
 * Code Guidelines :: @CCSv0.1
 * More details: https://code-guidelines.cybercodesyndicate.org
 * - Tabs only—no spaces.
 * - Naming:
 *   - kebab-case for classes and file names (e.g., file-example.js).
 *   - __underscore for childs (double underscore prefix).
 * - Meaningful Names btn-default-class over classOne.
 *
 * Repository-URL
 * https://github.com/Kyonax/kyo-web-online
 *
 * @dependencies
 * - Using * from "../abstracts/mixins"
 * - Using * from "../abstracts/variables"
 *
 * @usage
 * Import this file from the components folder index as a forwarded file
 * which is then imported into main SASS file.
 */
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.marquee {
  font-size: var(--fs-200);
  line-height: var(--fs-400);
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-500);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  --marquee-play: running;
  --marquee-speed: 33s;

  &__items {
    display: flex;
    white-space: nowrap;
    animation: marqueeScroll var(--marquee-speed) linear infinite;
    animation-play-state: var(--marquee-play);
    will-change: transform;
    width: max-content;
    font-weight: 900;
  }

  &__item {
    display: inline-block;
    margin-right: 0.5rem;
  }

  // Keyframes for seamless scrolling animation
  @keyframes marqueeScroll {
    0% {
      transform: translateX(0%); // Start at the initial position
    }

    100% {
      transform: translateX(
        -50%
      ); // Ensure the animation completes right before resetting
    }
  }

  @include max-media-query(sm) {
    .marquee {
      font-size: var(--fs-100);
      line-height: var(--fs-300);
    }
  }
}

.marquee.cyberpunk-glow {
  --cyberpunk-glow-color: var(--clr-primary-300);
  --cyberpunk-glow-blur: 0.5px;
  --cyberpunk-glow-spread: 7px;
  --cyberpunk-glow-speed: 1.75s;
}
