/**
 * _marquee.scss - Marquee Component Styles
 *
 * @description
 * This file defines styles for the marquee component, a scrolling text banner often used for announcements or highlights.
 * The marquee has a cyberpunk glow effect, supports customization for speed, and ensures smooth scrolling.
 * It uses CSS custom properties for flexibility and includes keyframes for seamless animation.
 *
 * @author
 * Cristian Moreno (Kyonax)
 * Email: iamkyo@kyo.wtf
 *
 * @note
 * Ensure to include this file in the main stylesheet (e.g., `main.scss`) for the marquee to function correctly.
 * Modify custom properties (--marquee-speed, --marquee-play) for different behaviors.
 */

@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.marquee {
  font-size: var(--fs-200) !important;
  line-height: var(--fs-400) !important;
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-500);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; // Ensures only the visible part of the marquee is displayed
  --marquee-play: running; // Play state of the marquee animation
  --marquee-speed: 33s; // Adjusts animation speed; slower for larger text
  @include cyberpunk-glow(hsl(47, 95%, 56%), 1px, 9px, true);

  &__items {
    display: flex; // Ensures inline layout for marquee items
    white-space: nowrap; // Prevents text wrapping
    animation: marqueeScroll var(--marquee-speed) linear infinite; // Smooth scrolling animation
    animation-play-state: var(--marquee-play); // Dynamic control of animation state
    will-change: transform; // Optimization for smoother animations
    width: max-content;
    font-weight: 900;
  }

  &__item {
    display: inline-block; // Keeps each item in a single line
    margin-right: 0.5rem; // Adds spacing between repeated items
  }

  // Keyframes for seamless scrolling animation
  @keyframes marqueeScroll {
    0% {
      transform: translateX(0%); // Start at the initial position
    }

    100% {
      transform: translateX(-50%); // Ensure the animation completes right before resetting
    }
  }
}
