@use "../abstracts/mixins";
@use "../abstracts/variables" as *;

.marquee {
    background-color: #f9cd26;
    color: $body-bg-color;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden; // Ensures only the visible part is shown
    --marquee-play: running;
    --marquee-speed: 33s; // Adjust speed (slower for larger text)
    @include mixins.cyberpunk-glow(#f9cd26, 1px, 9px, true);

    &__items {
        display: flex; // Flexbox for inline layout
        white-space: nowrap; // Prevents text wrapping
        animation: marqueeScroll var(--marquee-speed) linear infinite;
        animation-play-state: var(--marquee-play);
        will-change: transform; // Optimization for smooth scrolling
        width: max-content;
        line-height: 1.1rem;
        font-weight: 900;
    }

    &__item {
        display: inline-block; // Keeps items in a single line
        margin-right: 0.5rem; // Space between repeated items
    }

    // Keyframes for seamless scrolling
    @keyframes marqueeScroll {
        from {
            transform: translateX(0%); // Start at the initial position
        }

        to {
            transform: translateX(-50%); // Default value for desktop
        }
    }
}
