/**
 * @file _theme.scss - Theme Variables
 *
 * This SASS file defines theme-related CSS custom
 * properties (variables) within the :root selector
 * for use throughout the website.
 *
 * Also everything regarding Custom Styles to
 * mantain a consistent style across the website.
 *
 * node.js-v20.17.0
 *
 * @author Cristian Moreno (Kyonax)
 * @contact iamkyo@kyo.wtf
 * @date 2025-01-26
 *
 * Code Guidelines :: @CCSv0.1
 * More details: https://code-guidelines.cybercodesyndicate.org
 * - Use tabs for indentation, not spaces.
 * - Naming conventions:
 *   - kebab-case for class names and file names (e.g., file-example.js).
 *   - Prefix child selectors with a double underscore (e.g., __child-element).
 * - Opt for meaningful names like 'btn-default-class' instead of generic labels like 'classOne'.
 *
 * Repository-URL
 * https://github.com/Kyonax/kyo-web-online
 *
 * @dependencies
 * - Using * from "variables"
 * - Using * from "mixins"
 *
 * @usage
 * This file should be imported into the abstract index in the
 * main SASS file of the project.
 */
@use "variables" as *;
@use "mixins" as *;

/**
 * Root Element
 *
 * The root element serves to establish styling variables used across the SASS structure and project. It defines:
 * - Color variables following the naming convention --clr-[color]-[shade] for each color and shade provided by the $colors map.
 * - Typography variables using --fs-[size] format from the $typo-scale map for different screen sizes:
 *   - 'small' sets the base font sizes.
 *   - 'medium' uses @include min-media-query(md) to adjust font sizes when the screen width reaches a minimum size defined as md.
 *
 * Usage Example:
 * The CSS variables can be used as follows:
 * ```css
 * h1 {
 *   font-size: var(--fs-large);
 *   color: var(--clr-primary-light);
 * }
 * ```
 */
:root {
    /* Color variable creation for each color and its shades */
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    /* Typography variable creation based on screen size */
    @each $screen-size, $font-size in $typo-scale {
        @if $screen-size == small {
            /* Define base font sizes */
            @each $size, $value in $font-size {
                --fs-#{$size}: #{$value};
            }
        } @else if $screen-size == medium {
            /* Adjust font sizes for larger screens */
            @include min-media-query(md) {
                @each $size, $value in $font-size {
                    --fs-#{$size}: #{$value};
                }
            }
        }
    }
}

/**
 * Element Flare
 *
 * Injects the Element Flare animation into your scene. Comes with
 * standard settings for Color, Speed, Spread, Breath, and Duration.
 *
 * Reference the non-private variables to edit the defaults
 * (e.g., --element-flare-color: red;)
 */
.element-flare {
    $color: var(--element-flare-color, var(--clr-border-100));
    $speed: var(--element-flare-speed, 24s);
    $spread: var(--element-flare-spread, 1px);
    $breath-duration: var(--element-flare-breath-duration, 6s);
    $opacity: var(--element-flare-opacity, 0.9);

    @include element-flare($color, $speed, $spread, $breath-duration, $opacity);
}

/**
 * Cyberpunk Glow
 *
 * Injects the Cyberpunk Glow animation into your element. Comes with
 * standard settings for Color, Blur, Spread, and Animated.
 *
 * Reference the non-private variables to edit the defaults
 * (e.g., --element-flare-color: red;)
 */
.cyberpunk-glow {
    $color: var(--cyberpunk-glow-color, var(--clr-primary-100));
    $blur: var(--cyberpunk-glow-blur, 1px);
    $spread: var(--cyberpunk-glow-spread, 9px);
    $animated: var(--cyberpunk-glow-animated, true);
    $speed: var(--cyberpunk-glow-speed, 1.5s);

    @include cyberpunk-glow($color, $blur, $spread, $animated, $speed);
}
