/**
 * @file _variables.scss - Global Styling Variables
 *
 * This file houses the global styling variables for the project, ensuring consistency and maintainability
 * across the entire application. It includes a color palette, responsive breakpoints, and typography scales
 * that are used throughout the design. By centralizing these values, modifications can be made easily,
 * promoting scalability and flexibility.
 *
 * The color palette includes primary, secondary, and neutral colors along with specialized colors for borders,
 * success, warning, and error states. Breakpoints define key screen sizes for responsive design, and the
 * typography scale offers a range of font sizes for different use cases, from small text to large headers.
 *
 * @auth or Cristian Moreno (Kyonax)
 * @contact iamkyo@kyo.wtf
 * @since 2025-01-15
 */

/**
 * Breakpoints for Responsive Design
 *
 * @description
 * Defines a set of breakpoints for creating responsive layouts that adapt to various device sizes.
 * These breakpoints allow the application to provide an optimal viewing experience across different
 * screen widths, from mobile phones to large desktop monitors.
 */
$breakpoints: (
    sm: 48em,   // Small Devices (Landscape Phones, 576px and up)
    md: 64em,   // Medium Devices (Tablets, 768px and up)
    lg: 82.667em, // Large Devices (Desktops, 992px and up)
    xl: 100em   // Extra Large Devices (Large Desktops, 1200px and up)
);

/**
 * Color Palette
 *
 * @description
 * The color palette defines the primary, secondary, neutral, border, success, warning, and error colors
 * used throughout the project. Each color is defined in a range of shades for flexibility in design.
 * These variables enable easy updates to the design's color scheme while maintaining consistency.
 */
$colors: (
    primary: (
        50: hsl(48, 95%, 78%),
        100: hsl(47, 95%, 56%), // Original Color #f9cd26
        200: hsl(49, 100%, 39%),
        300: hsl(48, 100%, 29%),
        400: hsl(45, 100%, 20%),
        500: hsl(35, 100%, 13%),
    ),
    secondary: (
        50: hsl(224, 95%, 78%),
        100: hsl(224, 95%, 56%), // Original Color #265ef9
        200: hsl(224, 74%, 45%),
        300: hsl(224, 74%, 39%),
        400: hsl(224, 74%, 34%),
        500: hsl(224, 74%, 22%),
    ),
    neutral: (
        50: hsl(0, 0%, 91%),
        100: hsl(0, 0%, 79%),
        200: hsl(0, 0%, 59%),
        300: hsl(0, 0%, 40%),
        400: hsl(0, 0%, 22%),
        500: hsl(0, 0%, 7%), // Background Color #111111
    ),
    border: (
        50: hsla(0, 0%, 95.29%, 0.1),
        100: hsla(0, 0%, 100%, 0.1), // Actual Border Color
        200: hsla(0, 0%, 90.59%, 0.1),
        300: hsla(0, 0%, 85.88%, 0.1),
        400: hsla(0, 0%, 81.18%, 0.1),
        500: hsla(0, 0%, 76.47%, 0.1),
    ),
    success: (
        50: hsl(91, 48%, 72%),
        100: hsl(91, 62%, 44%), // Original Color #6cb42a
        200: hsl(91, 100%, 28%),
        300: hsl(105, 100%, 21%),
        400: hsl(120, 100%, 15%),
        500: hsl(120, 100%, 9%),
    ),
    warning: (
        50: hsl(29, 95%, 78%),
        100: hsl(29, 95%, 56%), // Original Color #f98b26
        200: hsl(30, 100%, 40%),
        300: hsl(25, 100%, 32%),
        400: hsl(17, 100%, 24%),
        500: hsl(0, 100%, 17%),
    ),
    error: (
        50: hsl(352, 65%, 74%),
        100: hsl(352, 69%, 48%), // Original Color #d1263d
        200: hsl(352, 70%, 39%),
        300: hsl(352, 70%, 34%),
        400: hsl(352, 70%, 29%),
        500: hsl(352, 69%, 19%),
    ),
);

/**
 * Typography Scale
 *
 * @description
 * Defines a typography scale for the project, offering predefined font sizes for small, medium,
 * and large text. This scale ensures consistency in text size across different elements such as
 * paragraphs, headings, and subheadings. The values are defined in rem units for better scalability.
 */
$typo-scale: (
    small: (
        100: 0.625rem,   // 7.5px
        200: 0.875rem,   // 10.5px
        300: 1rem,       // 12px
        400: 1.125rem,   // 13.5px
        500: 1.5rem,     // 18px
        600: 1.875rem,   // 22.5px
        700: 2.25rem,    // 27px
        800: 3rem        // 36px
    ),
    medium: (
        100: 0.75rem,    // 9px
        200: 1rem,       // 12px
        300: 1.125rem,   // 13.5px
        400: 1.25rem,    // 15px
        500: 1.75rem,    // 21px
        600: 2.25rem,    // 27px
        700: 3rem,       // 36px
        800: 4rem        // 48px
    ),
    large: (
        100: 0.875rem,   // 10.5px
        200: 1.125rem,   // 13px
        300: 1.25rem,    // 15px
        400: 1.5rem,     // 18px
        500: 2rem,       // 24px
        600: 3rem,       // 36px
        700: 4.5rem,     // 54px
        800: 6rem        // 72px
    )
);
