<!doctype html>
<html lang="en">
  <!-- #    # #     # #######       #     # ####### ###### -->
  <!-- #   #   #   #  #     #       #  #  # #       #     # -->
  <!-- #  #     # #   #     #       #  #  # #       #     # -->
  <!-- ###       #    #     # ##### #  #  # #####   ###### -->
  <!-- #  #      #    #     #       #  #  # #       #     # -->
  <!-- #   #     #    #     #       #  #  # #       #     # -->
  <!-- #    #    #    #######        ## ##  ####### ###### -->
  <!--     MY NAME IS KYONAX, BUT U JUST CALL ME KYO 京      -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>" />

    <style>
     <%= htmlWebpackPlugin.options.criticalCSS %>
    </style>

    <script>
     function setViewportHeight() {
       const vh = window.innerHeight * 0.01;
       document.documentElement.style.setProperty('--vh', `${vh}px`);
     }

     setViewportHeight();
     window.addEventListener('resize', setViewportHeight);
    </script>

    <!-- Favicons Injected by favicons-webpack-plugin -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicons/16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicons/32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="./favicons/48x48.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./favicons/apple-touch-icon-120x120-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./favicons/apple-touch-icon-152x152-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./favicons/apple-touch-icon-60x60-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./favicons/apple-touch-icon-76x76-precomposed.png"
    />
    <link rel="icon" type="image/x-icon" href="./favicons/favicon.ico" />
    <link rel="icon" type="image/png" href="./favicons/favicon.png" />
    <meta
      name="msapplication-TileColor"
      content="<%= htmlWebpackPlugin.options.msapplication_tile_color %>"
    />
    <meta
      name="msapplication-TileImage"
      content="assets/icons/ms-icon-144x144.webp"
    />
    <link rel="manifest" href="manifest.json" />
    <meta
      name="theme-color"
      content="<%= htmlWebpackPlugin.options.theme_color %>"
    />

    <!-- Open Graph Meta Tags (for social media sharing) -->
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.og_title %>"
    />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.website_banner %>"
    />
    <meta
      property="og:url"
      content="<%= htmlWebpackPlugin.options.website_url %>"
    />
    <meta property="og:type" content="universe" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="<%= htmlWebpackPlugin.options.twitter_title %>"
    />
    <meta
      name="twitter:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      name="twitter:image"
      content="<%= htmlWebpackPlugin.options.website_banner %>"
    />
    <meta
      name="twitter:url"
      content="<%= htmlWebpackPlugin.options.website_url %>"
    />

    <!-- Web Configurations -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="main-container">
      <!--
           Left Section

           @description
           All the necessary information for
           people to know what I do!
      -->
      <div id="left-section">
        <div class="container-block">
          <section class="dev-info">
            <header>
              <div class="dev-profile">
                <blast-image
                  class="dev-img"
                  sizes="(max-width: 600px) 50vw, 30vw"
                  img="kyonax_multiverse_characters"
                ></blast-image>
              </div>

              <span>
                <strong>CRISTIAN MORENO - KYONAX</strong>
              </span>

              <div class="span-container">
                <span> &nbsp;</span>
                <span><strong>VILLAVICENCIO - COLOMBIA</strong></span>
                <span><strong></strong></span>
              </div>

              <p>λ Dev/Creator :: Translating my world into code...</p>
            </header>
          </section>

          <section class="dev-tech">
            <h4>TECH & T00Ls</h4>

            <div class="span-container">
              <span> HTML/HTML5</span>
              <span> CSS/CSS3</span>
              <span> SASS</span>
              <span> JAVASCRIPT</span>
              <span> TYPESCRIPT</span>
              <span> PHP</span>
              <span> REACT.JS</span>
              <span> NODE.JS</span>
              <span> SYMFONY</span>
              <span>󰊢 GIT</span>
              <span> GITHUB</span>
              <span> DOCKER</span>
              <span> MySQL</span>
              <span> MONGODB</span>
              <span> HOTJAR</span>
              <span> AZURE</span>
              <span> AWS</span>
              <span> LINUX</span>
              <span> BASH</span>
              <span>󰨊 PWSH</span>
            </div>
          </section>

          <section class="dev-communities">
            <h4>L0VING COMMUNITIEs</h4>

            <span> &nbsp;</span>
            <span><strong>CCS - CYBER CODE SYNDICATE</strong></span>
          </section>

          <section class="marquee">
            <div class="marquee__items">
              <span class="marquee__item">
                CYBERPUNK :: 0V3RCLOCKING HUDs :: CODEPUNK ::
                N3TRUNNER<sup>京</sup>.SH :: GLITCHING MY W0RLD ::
                RUN<sub>ネット</sub> :: NODE<sub>ターゲット</sub> ::
                BREAK<sub>ハック</sub> ::
              </span>
              <span class="marquee__item">
                CYBERPUNK :: 0V3RCLOCKING HUDs :: CODEPUNK ::
                N3TRUNNER<sup>京</sup>.SH :: GLITCHING MY W0RLD ::
                RUN<sub>ネット</sub> :: NODE<sub>ターゲット</sub> ::
                BREAK<sub>ハック</sub> ::
              </span>
            </div>
          </section>
        </div>

        <div class="container-block"></div>
      </div>

      <!--
           Main Section

           @description
           All the juicy content that I want
           to show.
      -->
      <div id="right-section">
        <div class="container-block page-loader">
          <pre>
       ███
██████ ███ ██████  ████         ████
██████ ███ ██████  ███████      ████
████   ███   ████  █████████    ████
████         ████  ████  ███████████
█████████████████  ████     ████████
█████████████████  ████        █████
          </pre>
          <div class="page-loader__footer">
            <span>KYONAX © 2025</span>
          </div>
        </div>

        <div class="container-block main-scroll-block">
          <h1>THIS IS THE MAIN CONTENT</h1>

          <h1>THIS IS A TITLE</h1>
          <h2>THIS IS A TITLE</h2>
          <h3>THIS IS A TITLE</h3>
          <h4>THIS IS A TITLE</h4>
          <h5>THIS IS A TITLE</h5>
          <h1>THIS IS A TITLE</h1>
          <h1>THIS IS A TITLE</h1>
          <h1>THIS IS A TITLE</h1>
          <h1>THIS IS A TITLE</h1>
          <h2>THIS IS A TITLE</h2>
          <h3>THIS IS A TITLE</h3>
          <h4>THIS IS A TITLE</h4>
          <h5>THIS IS A TITLE</h5>
          <h2>THIS IS A TITLE</h2>
          <h3>THIS IS A TITLE</h3>
          <h4>THIS IS A TITLE</h4>
          <h5>THIS IS A TITLE</h5>
          <h2>THIS IS A TITLE</h2>
          <h3>THIS IS A TITLE</h3>
          <h4>THIS IS A TITLE</h4>
          <h5>THIS IS A TITLE</h5>
          <h2>THIS IS A TITLE</h2>
          <h3>THIS IS A TITLE</h3>
          <h4>THIS IS A TITLE</h4>
          <h5>THIS IS A TITLE</h5>
        </div>
      </div>
    </div>
  </body>
</html>
