@use "../abstracts/variables" as *;

.dev-info {
    display: block;
    justify-content: center;

    header {
        display: grid;
        gap: 0.25rem;
    }

    span {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        background-color: white;
        color: black;
    }

    .span-container {
        display: grid;
        gap: 0.25rem;
        grid-template-columns: auto auto;
    }
}

.dev-profile {
    padding: 0.25rem;
    border: 1px solid $border-color;
    width: min-content;
}

.dev-img {
    width: 150px; // Adjust to your desired width
    height: 149px; // Adjust to your desired height
    overflow: hidden;
    position: relative; // Required for child absolute positioning
    background-color: $border-color;
}

.dev-img img {
    position: absolute;
    width: fit-content;
    height: 300px;
    transform: translate(-450px);
    object-fit: cover; // Ensures the image covers the area
}
