.dev-profile {

}

.dev-img {
    width: 150px; // Adjust to your desired width
    height: 150px; // Adjust to your desired height
    overflow: hidden;
    position: relative; // Required for child absolute positioning
}

.dev-img img {
    position: absolute;
    top: 50%; // Center the image vertically
    left: 50%; // Center the image horizontally
    transform: translate(-50%, -50%); // Align the image center
    width: 1200px;
    height: auto;
    object-fit: cover; // Ensures the image covers the area
}
