/**
 * @file _global.scss - Global
 *
 * This file defines global styles, including layout, typography, and
 * accessibility. It also sets default scrollbar styles and applies
 * variables from `_variables.scss` for consistent design throughout the app.
 *
 * node.js-v20.17.0
 *
 * @author Cristian Moreno (Kyonax)
 * @contact iamkyo@kyo.wtf
 * @date 2025-01-21
 *
 * Code Guidelines :: @CCSv0.1
 * More details: https://code-guidelines.cybercodesyndicate.org
 * - Tabs only—no spaces.
 * - Naming:
 *   - kebab-case for classes and file names (e.g., file-example.js).
 *   - __underscore for childs (double underscore prefix).
 * - Meaningful Names btn-default-class over classOne.
 *
 * Repository-URL
 * https://github.com/Kyonax/kyo-web-online
 *
 * @dependencies
 * - Using * from "../abstracts/variables"
 *
 * @usage
 * This file will be imported from index.js aside
 */
@use "../abstracts/variables" as *;

* {
    scrollbar-width: thin;
}

/**
 * Body Styles
 *
 * @description
 * Sets the default background and text colors to ensure high contrast
 * for readability and accessibility.
 */
body {
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-50);
}

/**
 * Layout and Container Styles
 *
 * @description
 * Defines the grid layout for the main container and individual blocks,
 * ensuring consistent spacing and alignment.
 */
#main-container {
    overflow: hidden; // Disable scrolling by default
    height: calc(var(--vh, 1vh) * 98);
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 0.5rem;
}

.container-block {
    position: relative;
    border: 1px solid var(--clr-border-100);
    padding: 0.36rem;
}

.page-loader {
    display: none;
}

.main-scroll-block {
    display: block;
    overflow-y: auto;
    height: auto;
}

/**
 * Document Sections
 *
 * @description
 * Defines the layout for the left and main sections using grid with gaps
 * for better spacing.
 */
#left-section,
#right-section {
    position: relative;
    display: grid;
    height: calc(var(--vh, 1vh) * 98);
}

#left-section {
    gap: 0.5rem;
}

/**
 * Responsive Media Queries
 *
 * @description
 * Ensures the application is responsive by adapting layout and styles
 * based on the screen size.
 */

/* Extra Small Devices (Portrait Phones, <576px) */
@media (max-width: 767.98px) {
    body {
        overflow: auto; // Enable scrolling for small devices
    }

    #main-container {
        height: auto;
        overflow: auto;
        grid-template-columns: 1fr; // Stacks sections vertically
        gap: 0.25rem;
        margin-bottom: 3rem;
    }

    #left-section,
    #right-section {
        height: auto;
        gap: 0.5rem;
    }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #main-container {
        grid-template-columns: min-content auto; // Default layout
    }

    .container-block {
        padding: 0.36rem;
    }

    #left-section,
    #right-section {
        gap: 0.5rem;
    }
}

/* Large Devices (Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        overflow: hidden; // Disable scrolling on larger screens
    }

    #main-container {
        grid-template-columns: min-content auto;
    }

    .container-block {
        padding: 0.4rem;
    }
}

/* Extra Large Devices (Large Desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        overflow: hidden; // Disable scrolling on larger screens
    }

    #main-container {
        grid-template-columns: min-content auto;
    }

    .container-block {
        padding: 0.5rem;
    }
}
