/**
 * _typography.scss - Typography Styles for the Application
 *
 * @description
 * This file defines the typography settings, including custom font faces
 * using the "SpaceMono" font family. It imports mixins for defining various
 * font styles (regular, bold, italic, and bold-italic) to be used across
 * the application. Consistent typography is applied for improved readability.
 *
 * @author
 * Cristian Moreno (Kyonax)
 * Email: iamkyo@kyo.wtf
 *
 * @note
 * Ensure that this file is imported into the main stylesheet (e.g., `main.scss`)
 * for the typography styles to be applied globally.
 */
@use "../abstracts/mixins";

@include mixins.font-face(
    "SpaceMono",
    "SpaceMono/SpaceMonoNerdFont-Regular",
    400,
    normal
);
@include mixins.font-face(
    "SpaceMono",
    "SpaceMono/SpaceMonoNerdFont-Bold",
    700,
    normal
);
@include mixins.font-face(
    "SpaceMono",
    "SpaceMono/SpaceMonoNerdFont-Italic",
    400,
    italic
);
@include mixins.font-face(
    "SpaceMono",
    "SpaceMono/SpaceMonoNerdFont-BoldItalic",
    700,
    italic
);
@include mixins.font-face(
    "SymbolsNerdFont",
    "SymbolsNerdFonts/SymbolsNerdFontMono-Regular",
    700,
    italic
);

body {
    font-family: "SpaceMono", monospace;
    font-display: swap;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.6px;
}

symbol {
    font-display: swap;
    font-size: 12px;
    line-height: 14px;
    margin-right: 0.6rem;
}
