/**
 * _typography.scss - Typography Styles for the Application
 *
 * @description
 * This file sets up custom typography using the "SpaceMono" font family.
 * It defines custom font faces (regular, bold, italic, bold-italic) and includes
 * global typography styles for the application, ensuring readability and consistency.
 * Additionally, a special font face for symbols is defined.
 *
 * @author
 * Cristian Moreno (Kyonax)
 * Email: iamkyo@kyo.wtf
 *
 * @note
 * Import this file into the main stylesheet (e.g., `main.scss`) to apply typography globally.
 */

@use "../abstracts/mixins";

// Define SpaceMono fonts
@include mixins.font-face("SpaceMono", "SpaceMono/SpaceMonoNerdFont-Regular", 400, normal);
@include mixins.font-face("SpaceMono", "SpaceMono/SpaceMonoNerdFont-Bold", 700, normal);
@include mixins.font-face("SpaceMono", "SpaceMono/SpaceMonoNerdFont-Italic", 400, italic);
@include mixins.font-face("SpaceMono", "SpaceMono/SpaceMonoNerdFont-BoldItalic", 700, italic);

// Global typography settings
html {
    font-size: 12px;
}

body {
    font-family: 'SpaceMono', 'Roboto Mono', 'Courier New', Courier, monospace;
    font-display: swap;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.06rem;
}
